table {
  border-collapse: collapse;
  width: 100%;
  margin: 1rem 0;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: left;
}

table thead {
  background-color: #f3f3f3;
  font-weight: bold;
}
